In [21]:
import pandas as pd
from etherscan import Etherscan
from dotenv import load_dotenv
import os

Load API key from .env

In [22]:
load_dotenv(dotenv_path=".env")
api_key = os.environ.get("ETHERSCAN_API_KEY")

Initialize Etherscan client

In [23]:
eth = Etherscan(api_key)

Example: Fetch transactions for a given address

In [31]:
address = "0x3895c7e8c65c4ad1102e16689a9f83b56bc67c14"
transactions = eth.get_normal_txs_by_address(
    address=address,
    startblock=0,
    endblock=99999999,
    sort="asc"
)

In [30]:
import pandas as pd
df = pd.DataFrame(transactions)

Cleaning up the data

In [28]:
# Convert value to Ether
df['value'] = df['value'].astype(float) / 1e18

# Convert blockNumber to integer
df['blockNumber'] = df['blockNumber'].astype(int)

# Convert timestamp to datetime
df['timeStamp'] = pd.to_datetime(df['timeStamp'], unit='s')

/var/folders/81/b1tklwxd50n7ybfgm54mb0hm0000gn/T/ipykernel_22691/4118401102.py:8: FutureWarning: The behavior of 'to_datetime' with 'unit' when parsing strings is deprecated. In a future version, strings will be parsed as datetime strings, matching the behavior without a 'unit'. To retain the old behavior, explicitly cast ints or floats to numeric type before calling to_datetime.
  df['timeStamp'] = pd.to_datetime(df['timeStamp'], unit='s')

Select columns that are relevant

In [ ]:
columns = ['blockNumber', 'timeStamp', 'from', 'to', 'value', 'hash']
df_clean = df[columns]
df_clean.head()

,blockNumber,timeStamp,from,to,value,hash
0,16672663,2023-02-20 22:14:59,0xf1da173228fcf015f43f3ea15abbb51f0d8f1123,0x3895c7e8c65c4ad1102e16689a9f83b56bc67c14,0.093008,0x9ddb2d4a61c3c9ba6b73d7228198208564e80e7055de...
1,16673501,2023-02-21 01:04:35,0x3895c7e8c65c4ad1102e16689a9f83b56bc67c14,,0.000000,0x73d60992447f221505e6c362e74d7c6e24bfc3438326...
2,16673689,2023-02-21 01:42:47,0x3895c7e8c65c4ad1102e16689a9f83b56bc67c14,,0.000000,0xfa12d513e7c158b2b76360aed150190f157b5006b821...
3,16673689,2023-02-21 01:42:47,0x3895c7e8c65c4ad1102e16689a9f83b56bc67c14,,0.000000,0xf4214160cc3027f342935d896a67baa3d4987689eab1...
4,16680412,2023-02-22 00:23:23,0x3895c7e8c65c4ad1102e16689a9f83b56bc67c14,0xdac17f958d2ee523a2206206994597c13d831ec7,0.000000,0x11c8e1da654f4a37a6c4ab922b31845de33182ce93f7...

In [32]:
from tabulate import tabulate

In [33]:
# Show as markdown table (best for GitHub rendering)
print(tabulate(df_clean.head(5), headers='keys', tablefmt='github'))

|    |   blockNumber | timeStamp           | from                                       | to                                         |     value | hash                                                               |
|----|---------------|---------------------|--------------------------------------------|--------------------------------------------|-----------|--------------------------------------------------------------------|
|  0 |      16672663 | 2023-02-20 22:14:59 | 0xf1da173228fcf015f43f3ea15abbb51f0d8f1123 | 0x3895c7e8c65c4ad1102e16689a9f83b56bc67c14 | 0.0930077 | 0x9ddb2d4a61c3c9ba6b73d7228198208564e80e7055dee38bd77884482eedb02e |
|  1 |      16673501 | 2023-02-21 01:04:35 | 0x3895c7e8c65c4ad1102e16689a9f83b56bc67c14 |                                            | 0         | 0x73d60992447f221505e6c362e74d7c6e24bfc3438326c883c4a590a3e46ec005 |
|  2 |      16673689 | 2023-02-21 01:42:47 | 0x3895c7e8c65c4ad1102e16689a9f83b56bc67c14 |                                            | 0         | 0xfa12d513e7c158b2b76360aed150190f157b5006b8215242f71718f79b651b2c |
|  3 |      16673689 | 2023-02-21 01:42:47 | 0x3895c7e8c65c4ad1102e16689a9f83b56bc67c14 |                                            | 0         | 0xf4214160cc3027f342935d896a67baa3d4987689eab136dc60f3292453cdc3e6 |
|  4 |      16680412 | 2023-02-22 00:23:23 | 0x3895c7e8c65c4ad1102e16689a9f83b56bc67c14 | 0xdac17f958d2ee523a2206206994597c13d831ec7 | 0         | 0x11c8e1da654f4a37a6c4ab922b31845de33182ce93f73dafcff55394a163a1bb |

In [34]:
with open("sample_table.md", "w") as f:
    f.write(tabulate(df_clean.head(10), headers='keys', tablefmt='github'))